<div
  id="home"
  class="d-flex flex-column w-100 justify-content-center align-items-center">
  <mat-card
    class="w-50 mt-5 formCard"
  >
      <form
        class="w-100 p-2"
        [formGroup]="form">
        <mat-form-field
          class="w-100"
          appearance="outline">
          <mat-label>Full legal name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Full legal name"
          >
          <mat-icon
            class="cursor-pointer mr-3"
            matTooltip="Name field is required and should be from 3 to 20 symbols length"
            *ngIf="form.controls.name.errors && form.controls.name.touched"
            matSuffix>error_outline</mat-icon>
          <span
          ></span>
        </mat-form-field>
        <mat-form-field
          class="w-100"
          appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            formControlName="email"
          >
          <mat-icon
            class="cursor-pointer mr-3"
            matTooltip="E-mail field is required and should be from 6 to 30 symbols length"
            *ngIf="form.controls.email.errors && form.controls.email.touched"
            matSuffix>error_outline</mat-icon>
        </mat-form-field>
        <div
          class="d-flex w-100 justify-content-between">
          <mat-form-field
            appearance="outline"
            class="w-75"
          >
            <mat-label>Phone</mat-label>
            <span matPrefix>+380 &nbsp;</span>
            <input
              formControlName="phone"
              matInput>
            <mat-icon
              class="cursor-pointer mr-3"
              matTooltip="Phone field is required and should be from 9 to 10 symbols length"
              *ngIf="form.controls.phone.errors && form.controls.phone.touched"
              matSuffix>error_outline</mat-icon>
          </mat-form-field>
          <button
            class="addbtn"
            mat-raised-button >+</button>
        </div>
        <mat-form-field
          class="w-100"
          appearance="outline">
          <mat-label>Age</mat-label>
          <input
            matInput
            type="number"
            step="1"
            min="14"
            max="100"
            formControlName="age"
          >
          <mat-icon
            class="cursor-pointer mr-3"
            matTooltip="Age field is required and should be in range from 14 to 100"
            *ngIf="form.controls.age.errors && form.controls.age.touched"
            matSuffix>error_outline</mat-icon>
        </mat-form-field>
        <div class="d-flex">
          <span>Photo</span>
          <mat-icon
            class="cursor-pointer ml-3"
            matTooltip="At least one photo is required"
            *ngIf="form.controls.photo.errors"
            matSuffix>error_outline</mat-icon>
        </div>
        <div class="uploadFileContainer" (click)="fileInput.click()" appDragDrop (FileDropped)="uploadFile($event)">
          <input
            hidden
            formControlName="photo"
            type="file"
            #fileInput
            (change)="uploadFile($event.target.files)">
        </div>
        <div
          class="files-list"
          *ngFor="let file of files; let i = index">
          <p>{{file.name}}</p>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteAttachment(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-form-field
          appearance="outline"
          class="w-100">
          <mat-label>Resume</mat-label>
          <textarea
            matInput
            formControlName="resume"
            mat-autosize
            matAutosizeMaxRows="15"
            matAutosizeMinRows="7"
            placeholder="Introduce yourself!"></textarea>
          <mat-icon
            class="cursor-pointer mr-3"
            matTooltip="Resume field is required and should be from 30 to 300 symbols length"
            *ngIf="form.controls.resume.errors && form.controls.resume.touched"
            matSuffix>error_outline</mat-icon>
        </mat-form-field>
        <div class="d-flex w-100 justify-content-end">
          <button
            class="mr-4"
            [disabled]="form.invalid"
            (click)="onclick('save')"
            mat-raised-button
            >Save</button>
          <button
            mat-raised-button
            color="warn"
            (click)="onclick('reset')"
          >Clear</button>
        </div>
      </form>
  </mat-card>
</div>
