.link {
  color: red;
  text-decoration: underline;
}
.iconMale {
  clip-path: inset(0% 50% 0% 0%);
}
.iconFemale {
  clip-path: inset(0% 0% 0% 50%);
}
.mat-list-item-content {
  width: 100%;
}
.mat-list-item {
  height: auto!important;
}
.mat-subheader, .mat-list-item-content {
  padding: 0!important;
  margin-top: 10px!important;
}
.label {
  line-height: 1.29;
  letter-spacing: 1.5px;
  color: #767676;
  font-family: Lato;
  font-size: 16px;
}
.value {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: .67px;
  color: #767676;
}
.ls-0 {
  letter-spacing: 1px!important;
}
.list {
  //border: 5px solid #673ab7;
}
.w-49 {
  width: 49%;
}
.editbtn {
  color: rgba(0,0,0,0.54)
}
.formCard {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.uploadFileContainer {
  background-image: url("https://png2.cleanpng.com/sh/eab0bdae37926145f01c1d8d40d50905/L0KzQYm3U8IxN6FsfZH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TgVxdJDmfJ9rYXPuhcG0ifNwNaZ1hNHqZD3nf8j1jP9ibF46edQ6MXa0c4ToVsJlO183SakDNUm1RYK8UsE2PWg3T6g7M0m1PsH1h5==/kisspng-computer-icons-upload-backup-ico-upload-download-5ab11f1c3a62d3.2178592515215572762392.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 130px;
  width: 100%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
