<mat-list
  id="dashboardpage"
  class="w-100 p-4">
  <div class="d-flex w-100 justify-content-between align-items-baseline">
    <mat-form-field
      class="d-flex w-50"
      appearance="outline">
      <mat-label>Search...</mat-label>
      <input
        matInput
        [disabled]="isCreating || !employeesList.length"
        [(ngModel)]="searchKeyWord"
      >
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Search by name...</mat-hint>
    </mat-form-field>
    <button
      mat-stroked-button
      [disabled]="isCreating || searchKeyWord.length > 0"
      (click)="addNewEmployee()"
      class="mw-200px editbtn h-40-px"
    >Create new one</button>
  </div>
  <div
    class="d-flex w-100 flex-wrap"
    *ngIf="employeeForms.length">
    <form
      [formGroup]="findForm(employee.id)"
      *ngFor="let employee of fetchFilteredList()"
      class="w-50 p-2">
      <mat-form-field
        class="w-100"
        appearance="outline">
        <mat-label>Full legal name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Full legal name"
        >
        <mat-icon
          class="cursor-pointer mr-3"
          matTooltip="Name field is required and should be from 3 to 20 symbols length"
          *ngIf="findForm(employee.id).controls.name.errors && findForm(employee.id).controls.name.touched"
          matSuffix>error_outline</mat-icon>
        <span
        ></span>
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
        >
        <mat-icon
          class="cursor-pointer mr-3"
          matTooltip="E-mail field is required and should be from 6 to 30 symbols length"
          *ngIf="findForm(employee.id).controls.email.errors && findForm(employee.id).controls.email.touched"
          matSuffix>error_outline</mat-icon>
      </mat-form-field>
      <div class="d-flex w-100 justify-content-between">
        <mat-form-field
          appearance="outline"
          class="w-75"
        >
          <mat-label>Phone</mat-label>
          <span matPrefix>+380 &nbsp;</span>
          <input
            [disabled]="!checkEditListById(employee.id)"
            [id]="'newNum' + employee.id"
            matInput>
        </mat-form-field>
        <button
          [disabled]="!checkEditListById(employee.id)"
          (click)="addNumber(employee.id)"
          class="addbtn"
          mat-stroked-button >+</button>
      </div>
      <div
        formArrayName="phone"
      >
        <div
          *ngFor="let phone of phoneFormGroup(employee.id).controls; let i = index;"
          class="d-flex w-100 justify-content-between">
          <mat-form-field
            appearance="outline"
            [formGroupName]="i"
            class="w-75"
          >
            <mat-label>Phone</mat-label>
            <span matPrefix>+380 &nbsp;</span>
            <input
              [id]="employee.id.toString() + i"
              formControlName="number"
              matInput>
            <mat-icon
              *ngIf="getPhonesFormGroup(i, employee.id).controls['number'].errors && getPhonesFormGroup(i, employee.id).controls['number'].touched"
              class="cursor-pointer mr-3"
              matTooltip="Phone field is required and should be from 9 to 10 symbols length"
              matSuffix>error_outline</mat-icon>
          </mat-form-field>
          <button
            [disabled]="!checkEditListById(employee.id)"
            (click)="removeNumber(i, employee.id)"
            color="warn"
            class="addbtn"
            mat-raised-button >Delete</button>
        </div>
      </div>
      <mat-form-field
        class="w-100"
        appearance="outline">
        <mat-label>Age</mat-label>
        <input
          matInput
          type="number"
          step="1"
          min="14"
          max="100"
          formControlName="age"
        >
        <mat-icon
          class="cursor-pointer mr-3"
          matTooltip="Age field is required and should be in range from 14 to 100"
          *ngIf="findForm(employee.id).controls.age.errors && findForm(employee.id).controls.age.touched"
          matSuffix>error_outline</mat-icon>
      </mat-form-field>
      <div class="d-flex">
        <span>Attached files</span>
      </div>
      <div
        class="uploadFileContainer"
        (click)="this.checkEditListById(employee.id) ? fileInput.click() : null"
        appDragDrop
        (FileDropped)="uploadFile($event, employee.id)">
        <input
          multiple
          hidden
          [id]="employee.id"
          type="file"
          #fileInput
          (change)="uploadFile($event, employee.id)">
      </div>
      <ul
        *ngIf="fetchFiles(employee.id).length"
      >
        <li
          *ngFor="let file of fetchFiles(employee.id)[0].files; let i = index">
          <div class="d-flex align-items-baseline justify-content-between">
            <span>{{file.name}}&nbsp;&nbsp;({{file.size}} bytes)</span>
            <button
              mat-icon-button
              color="warn"
              [disabled]="!this.checkEditListById(employee.id)"
              (click)="deleteFile(i, employee.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
      <mat-form-field
        appearance="outline"
        class="w-100">
        <mat-label>Resume</mat-label>
        <textarea
          matInput
          formControlName="resume"
          mat-autosize
          matAutosizeMaxRows="15"
          matAutosizeMinRows="7"
          placeholder="Introduce yourself!"></textarea>
        <mat-icon
          class="cursor-pointer mr-3"
          matTooltip="Resume field is required and should be from 30 to 300 symbols length"
          *ngIf="findForm(employee.id).controls.resume.errors && findForm(employee.id).controls.resume.touched"
          matSuffix>error_outline</mat-icon>
      </mat-form-field>
      <div class="d-flex w-100 justify-content-end">
        <button
          class="mr-4"
          (click)="toAction(employee, 'edit')"
          mat-stroked-button
        >{{checkEditListById(employee.id) ? 'Save' : 'Edit'}}</button>
        <button
          mat-stroked-button
          color="warn"
          (click)="toAction(employee, 'delete')"
        >{{checkEditListById(employee.id) ? 'Cancel' : 'Delete'}}</button>
      </div>
    </form>
  </div>
</mat-list>
