<mat-toolbar
  class="menu"
>
  <div class="d-flex w-100 justify-content-between">
    <div class="d-flex w-50 justify-content-between align-items-center flex-wrap">
      <div class="d-flex w-25 cursor-pointer pl-5">
        <h5
          class="logo"
        >
          <b>
            Guidance
          </b>
        </h5>
        <mat-icon
          class="crop pt-1"
        >work</mat-icon>
      </div>
      <span class="link">Home</span>
      <div
        [matMenuTriggerFor]="courses"
        class="d-flex cursor-pointer">
        <span
          [matMenuTriggerFor]="courses"
          class="link">Courses</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <span class="link">About</span>
      <span class="link">Video</span>
      <div
        [matMenuTriggerFor]="interesting"
        class="d-flex cursor-pointer">
        <span
          class="link">Interesting</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #courses="matMenu">
        <button mat-menu-item>Progect management</button>
        <button mat-menu-item>Android development</button>
        <button mat-menu-item>Online marketing</button>
        <button mat-menu-item>Front-end developer</button>
      </mat-menu>
      <mat-menu #interesting="matMenu">
        <button mat-menu-item>Blog</button>
        <button mat-menu-item>Youtube</button>
        <button mat-menu-item>Team</button>
        <button mat-menu-item>Community</button>
      </mat-menu>
<!--      <button-->
<!--        *ngIf="isLoggedIn|async"-->
<!--        [disabled]="router.url.includes('admin')"-->
<!--        (click)="navigate('admin')"-->
<!--        mat-stroked-button-->
<!--        color="accent"-->
<!--      >Admin panel</button>-->
<!--      <button-->
<!--        *ngIf="isLoggedIn|async"-->
<!--        [disabled]="router.url.includes('dashboard')"-->
<!--        (click)="navigate('dashboard')"-->
<!--        mat-stroked-button-->
<!--        color="accent"-->
<!--      >Dashboard</button>-->
    </div>
    <button mat-raised-button color="warn">Authorization</button>
    <mat-icon
      *ngIf="isLoggedIn|async"
      class="cursor-pointer"
      matTooltip="Log out"
      (click)="navigate('logout')"
    >power_settings_new</mat-icon>
  </div>
</mat-toolbar>
