<mat-toolbar
  class="menu"
>
  <div class="d-flex w-100 justify-content-between">
    <div class="d-flex w-50 justify-content-between align-items-baseline">
      <div class="d-flex w-25 cursor-pointer">
        <h5
          class="logo"
        >
          <b>
            Guidance
          </b>
        </h5>
        <mat-icon
          class="crop pt-1"
        >work</mat-icon>
      </div>
      <span class="link">Home</span>
      <span class="link">Courses</span>
      <span class="link">About</span>
      <span class="link">Video</span>
      <span class="link">Interesting</span>
<!--      <button-->
<!--        *ngIf="isLoggedIn|async"-->
<!--        [disabled]="router.url.includes('admin')"-->
<!--        (click)="navigate('admin')"-->
<!--        mat-stroked-button-->
<!--        color="accent"-->
<!--      >Admin panel</button>-->
<!--      <button-->
<!--        *ngIf="isLoggedIn|async"-->
<!--        [disabled]="router.url.includes('dashboard')"-->
<!--        (click)="navigate('dashboard')"-->
<!--        mat-stroked-button-->
<!--        color="accent"-->
<!--      >Dashboard</button>-->
    </div>
    <button mat-raised-button color="warn">Authorization</button>
    <mat-icon
      *ngIf="isLoggedIn|async"
      class="cursor-pointer"
      matTooltip="Log out"
      (click)="navigate('logout')"
    >power_settings_new</mat-icon>
  </div>
</mat-toolbar>
